<!-- block 3 start here  -->
<!-- <section>
    <div class="container-fluid b3-tran">
        <div class="container">
            <div class="row">
                <div class="col-md-10 b3-text">
                    <h2 class="b3-pro">
                        We Provide High Quality Services
                    </h2>
                </div>
                <div class="col-md-2 b3-x1">
                    <div class="">
                        <button class="btn btn-b3">
                                    MORE
                                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- block 3 ends here  -->
<!-- block 6 starts here -->
<section>
    <div class="container-fluid b6-wrap">
        <div class="container">
            <div class="row b6-row">
                <div class="col-md-4 b6-connect">
                    <h2>Connect with us</h2>
                </div>
                <div class="col-md-8 b6-social">
                    <a href="https://www.facebook.com/BMACHq/" target="_blank">
                        <i class="fa fa-facebook face"></i>
                    </a>
                    <a href="https://twitter.com/BMAChq" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/bmachq/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/ikooba-technologies/" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCO2dygT3OoHef67FZXCmECg" target="_blank">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 6 starts here -->

<!-- Footer starts here -->
<section>
    <div class="container-fluid ft-wrap">
        <div class="container">
            <div class="row ft-row">
                <div class="col-md-4">
                    <ul class="ul-menu">
                        <li class="active">Menu</li>
                        <li>
                            <a routerLink="/">
                                    Home
                                    </a>
                        </li>
                        <li>
                            <a routerLink="/https://onebmac.com/">
                                    About Us
                                </a>
                        </li>
                        <li>
                            <a routerLink="https://onebmac.com/">
                                    Services
                                            </a>
                        </li>
                        <li>
                            <a routerLink="/account">
                                    Products
                                </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                    Contacts
                                        </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">

                    <ul class="ul-menu address">
                        <li class="active">

                            Address</li>
                        <li>
                            <i class="fa fa-map-marker"></i> Plot 46, Adewale Ishawu Str.<br/> Off Modupe Johnson Crescent<br/> Surulere, Lagos<br>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> 0907-842-2233
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> 0811-582-8444
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> business@onebmac.com
                        </li>

                    </ul>
                </div>
                <div class="col-md-4 ">
                    <ul class="ul-menu new-edge">
                        <li class="active">Collaborative Edge</li>
                        <li>Sign up for Collaborative Edge - our newsletter for entrepreneurs, professionals and business influencers</li>
                        <form>
                            <div class="form-group">

                                <input type="text" name="name" placeholder="Email address" class="form-control">
                                <input type="submit" class="btn btn-newslet" value="submit">
                            </div>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer starts here -->

<!-- Copyright here -->
<section>
    <div class="container-fluid copy-b1 ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 copy-ik ">
                    <h2>&copy;Ikooba Technologies 2018</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Copyright ends here -->