<!-- block 1 start here -->
<section>
    <div class="container-fluid hero-img">
        <!-- <nav class="navbar navbar-expand-md pay-dark navbar-dark white">
            <div class="container">
                <a class="navbar-brand" routerLink="/index.html">
                    <img src="assets/img/bmac-logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                    <span class="button-label">Menu</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                  </button>


                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav right-ft">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/account">BMAC Accounting</a>
                                <a class="dropdown-item" routerLink="/ims">BMAC IMS</a>
                                <a class="dropdown-item" routerLink="/payroll">BMAC HR Payroll</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/bmac/professional">Pro Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/secure/sign-in">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.onebmac.com/">Collaborative Edge</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->

        <div class="container">
            <div class="row">
                <div class="col-md-12 hero-rob">
                    <h2>BMAC Accounting</h2>
                    <p>
                        Business, Measurement, Assurance & Collaboration
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-hero">SIGN UP NOW</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 1 ends here -->
<!-- block 2 starts here -->
<section>
    <div class="container-fluid ">
        <div class="s-acc">
            <h2>Now you can achieve more with less</h2>
        </div>
        <div class="row">
            <div class="col-md-8 cons-x1">
                <img src="assets/img/pro-network.png" class="img-responsive" alt="image">
            </div>
            <div class="col-md-4 trans-x1">
                <div class="space-down">
                    <h2>Collaborative Accounting Software for Business</h2>
                    <p>Really useful cloud-based accounting software with everything you need to track your business and manage your transactions. </p>
                </div>
                <div class="space-down">
                    <h2>Simple and Easy Accounting of the 21st Century</h2>
                    <p>Accounting can be time & energy-consuming especially when you’re NOT an Accountant. Most business owners would rather spend their time doing what they know best. </p>
                </div>
                <div class="space-down">
                    <h2>Accounting is the language of business</h2>
                    <p>Do you understand what your business is saying? Do you know how much profit you made last year? Do you even know how much money came into your business? </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- block 2 starts here -->
<!-- block 4 starts here  -->
<section>
    <div class="container-fluid back-grey">
        <div class="container">
            <!--<div class="sr-col">
                <h2>
                    Features
                </h2>
                  <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.
                    </p>
            </div>-->
            <div class="row sr-col">
                <div class="col-md-4 b4-main">
                    <img src="assets/img/innovation.png" class="img-responsive" alt="img">
                    <h2>
                        Smarter Business
                    </h2>
                    <p>
                        Understand your business performance at a glance and make accurate decisions with the BMAC Analytic dashboard.
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
                <div class="col-md-4 b4-main">
                    <img src="assets/img/analytics.png" class="img-responsive" alt="img">
                    <h2>
                        Quick Reporting
                    </h2>
                    <p>
                        Access your trial balance, profit & loss, receivables, payables and lots more. Enable intelligent decisions
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
                <div class="col-md-4 b4-main">
                    <img src="assets/img/accounting.png" class="img-responsive" alt="img">
                    <h2>
                        Easy Accounting
                    </h2>
                    <p>
                        Move all your data to the cloud. Avoid losing transaction, record and update your “money in” and “money out” on daily basis online
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
            </div>
            <div class="row b4-wrap">
                <div class="col-md-4 b4-main">
                    <img src="assets/img/collaboration.png" class="img-responsive" alt="img">
                    <h2>
                        Collaborate
                    </h2>
                    <p>
                        Work gets easier when you give your employee, accountants and finance providers the access they need to work with you online.
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
                <div class="col-md-4 b4-main">
                    <img src="assets/img/invoice.png" class="img-responsive" alt="img">
                    <h2>
                        Invoicing
                    </h2>
                    <p>
                        Email your customers professional invoices and get paid on time with the BMAC accounting invoicing feature. Follow the money…
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
                <div class="col-md-4 b4-main">
                    <img src="assets/img/control.png" class="img-responsive" alt="img">
                    <h2>
                        Stay in control
                    </h2>
                    <p>
                        Give individual team the access they need to work with you. You can use the BMAC Accounting Audit Trail feature to see who’s signed into your business.
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-board">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- block 4 ends here  -->

<!-- block 2 start here  -->
<section>
    <div class="container">
        <div class="row b2-body">
            <div class="col-md-6 bmc-x1">
                <h2 class="bmc-h2">
                    BMAC Accounting
                </h2>
                <p class="bmc-p">
                    Seamlessly access your cash flow on any internet device, anywhere<br>anytime
                </p>
                <div class="btn-d">
                    <a href="https://play.google.com/store/apps/details?id=com.ikooba.v2.BmacMobile&hl=en" class="btn btn-down1">
                            DOWNLOAD
                            </a>

                </div>
            </div>
            <div class="col-md-6 bmc-x2">
                <img src="assets/img/responsive.png" alt="image" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<!-- block 2 start here  -->
<!-- block 5 starts here -->
<section>
    <div class="container-fluid block-5">
        <div class="row">
            <div class="col-md-12 b5-h2">
                <h2 class="b5-smart">
                    Smart invoicing
                </h2>
                <p class="b5-easily">
                    Easily create free professional invoices online. Track customers' <br>payment due dates and get paid faster.
                </p>
                <div class="btn-1">
                    <a routerLink="/account" class="btn b5-btn1">More</a>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn b5-btn1">Sign up</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 5 starts here -->