<!-- option point -->
<section>
    <div class="container-fluid price-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pac">
                    <div class="sme">
                        <a routerLink="/sme" class="btn btn-sme">
                                 SME Package</a>
                    </div>
                    <div class="sme">
                        <a routerLink="/enterprise" class="btn btn-sme">Enterprise Package</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- toggle button here -->
<!-- <section>
    <div class="container-fluid price-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tral-b1">
                    <a href="#" class="btn btn-annual">Annual</a>
                    <a href="#" class="btn btn-annual">Bi-annual</a>
                </div>
            </div>
        </div>
    </div>

</section> -->

<!-- toggle button ends here -->
<!-- option point -->
<section>
    <div id="price">
        <!--price tab-->
        <div class="container">
            <div class="row">
                <div class="col-md-2 plan">
                    <div class="basic">
                        <div class="plan-inner plan-blue">
                            <div class="entry-title">
                                <h3>Basic </h3>
                                <div class="price">&#8358; 70,000<span>PER YEAR</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <ul>
                                    <li class="first">30 Days free trial</li>
                                    <li class="second"><strong>&#8358; 40,000</strong> (From 2nd Year)</li>
                                </ul>
                            </div>
                            <div class="btn">
                                <a href="https://sme.onebmac.com/secure/sign-up">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan-inner content">
                        <div class="entry-content">
                            <ul>
                                <li><strong>BMAC Accounting</strong></li>
                                <li>Track sales, expenses and profits</li>
                                <li>Create & send unlimited invoices</li>
                                <li>Manage your sales tax</li>
                                <li>15+ accounting reports, downloadable in PDF & Excel</li>
                                <li>Dashboard & Analytics module</li>
                                <li>Works on PC, Mac and mobile</li>
                                <li>Access control, Audit trail</li>
                                <li>Unlimited users</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- end of price tab-->
                <!--price tab-->
                <div class="col-md-2 plan silve-1">
                    <div class="basic">
                        <div class="plan-inner plan-blue">
                            <div class="hot">popular</div>
                            <div class="entry-title">
                                <h3>Silver</h3>
                                <div class="price">&#8358; 120,000<span>PER YEAR</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <ul>
                                    <li class="first">30 Days free trial</li>
                                    <li class="second"><strong>&#8358; 60,000</strong> (From 2nd Year)</li>
                                </ul>
                            </div>
                            <div class="btn">
                                <a href="https://sme.onebmac.com/secure/sign-up">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan-inner content">
                        <div class="entry-content">
                            <ul>
                                <li><strong>All of Basic +</strong></li>
                                <li><strong>BMAC Accounting</strong></li>
                                <li><strong>BMAC IMS (Inventory Management System)</strong></li>
                                <li>Create & send unlimited invoices</li>
                                <li>Track Inventory,manage suppliers</li>
                                <li>Triggers re order level warning, make sales, branch management</li>
                                <li>Profitability report</li>
                                <li>Quick view dashboard on sales & Stock level</li>
                                <li>Unlimited users, Unlimited product lines</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of price tab-->
                <!--price tab-->
                <div class="col-md-2 plan">
                    <div class="standard basic">
                        <div class="plan-inner plan-blue">
                            <div class="entry-title">
                                <h3>Gold</h3>
                                <div class="price">&#8358; 150,000<span>PER YEAR</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <ul>
                                    <li class="first">30 Days free trial</li>
                                    <li class="second"><strong>&#8358; 70,000</strong> (From 2nd Year)</li>
                                </ul>
                            </div>
                            <div class="btn">
                                <a href="https://sme.onebmac.com/secure/sign-up">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan-inner content">
                        <div class="entry-content">
                            <ul>
                                <li><strong>All of Basic +</strong></li>
                                <li><strong>All of Silver +</strong></li>
                                <li><strong>BMAC Accounting</strong></li>
                                <li><strong>BMAC IMS & Desktop Application</strong></li>
                                <li><i>Offline mode - Desktop Application</i></li>
                                <li>Quick view dashboard on sales & Stock level</li>
                                <li>Unlimited users, Unlimited product lines</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of price tab-->
                <!--price tab-->
                <div class="col-md-2 plan">
                    <div class="ultimate basic">
                        <div class="plan-inner plan-blue">
                            <div class="entry-title">
                                <h3>Diamond</h3>
                                <div class="price">&#8358; 170,000<span>PER YEAR</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <ul>
                                    <li class="first">30 Days free trial</li>
                                    <li class="second"><strong>&#8358; 100,000</strong> (From 2nd Year)</li>
                                </ul>
                            </div>
                            <div class="btn">
                                <a href="https://sme.onebmac.com/secure/sign-up">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan-inner content">
                        <div class="entry-content">
                            <ul>
                                <li><strong>All of Basic +</strong></li>
                                <li><strong>BMAC Accounting</strong></li>
                                <li><strong>BMAC HR Payroll (Unlimited Employees)</strong></li>
                                <li>Prorate employee salary based on attendance</li>
                                <li>Deductions report, leave application</li>
                                <li>Prorate employee salary based on attendance</li>
                                <li>Employee credential uploads, generate payslips and salary advance</li>
                                <li>Unlimited users, Unlimited Product lines</li>
                                <!-- <li>For 3 users, plus bonus 2 users free</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end of price tab-->
                <!--price tab-->
                <div class="col-md-2 plan">
                    <div class="platinium basic">
                        <div class="plan-inner plan-blue">
                            <div class="entry-title">
                                <h3>Platinum</h3>
                                <div class="price">&#8358; 250,000<span>PER YEAR</span>
                                </div>
                            </div>
                            <div class="entry-content">
                                <ul>
                                    <li class="first">30 Days free trial</li>
                                    <li class="second"><strong>&#8358; 150,000</strong> (From 2nd Year)</li>
                                </ul>
                            </div>
                            <div class="btn">
                                <a href="https://sme.onebmac.com/secure/sign-up">Order Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="plan-inner content">
                        <div class="entry-content">
                            <ul>
                                <li><strong>All of Basic +</strong></li>
                                <li><strong>All of Gold +</strong></li>
                                <li><strong>BMAC Accounting</strong></li>
                                <li><strong>BMAC IMS & Desktop Application</strong></li>
                                <li><i>Offline mode - Desktop Application</i></li>
                                <li><strong>BMAC HR Payroll (Unlimited Employees)</strong></li>
                                <li>Prorate employee salary based on attendance</li>
                                <li>Payee Tax Computations, Employee Portal</li>
                                <li>Deductions report, leave application, earnings report, notice board, quick view dashboard</li>
                                <li>Employee credential uploads, generate payslips and salary advance</li>
                                <li>Works on PC, Mac and mobile</li>
                                <li>Unlimited users, Unlimited Employees</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of price tab-->
    </div>
</section>
<!-- pricing ends here -->
<!-- option point -->

<!-- block 3 start here -->
<!-- blaock 2 starts here -->
<section>
    <div class="container-fluid price-color">
        <div class="container pad-price">
            <div class="row price-bac">
                <div class="col-md-12">
                    <div class="comb">
                        <!-- <h2 class="pric-track">Track your Business Sales Guranteed</h2> -->
                        <h2 class="pr-what">All Plans Include:</h2>
                    </div>
                    <div class="row pric-sale pric-top">
                        <div class="col-md-6">
                            <div class="row exp-pro">
                                <div class="col-md-2 txt-right">
                                    <img src="assets/img/shopping.png" alt="image" class="img-responsive">
                                </div>
                                <div class="col-md-10 pric-exp">
                                    <h2>
                                        Free mobile apps
                                    </h2>
                                    <p>
                                        Access your account anytime, anywhere on any device.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row exp-pro">
                                <div class="col-md-2 txt-right">
                                    <img src="assets/img/dashboard.png" alt="image" class="img-responsive">
                                </div>
                                <div class="col-md-10 pric-exp">
                                    <h2>
                                        Reports and Dashboards

                                    </h2>
                                    <p>
                                        Get insights on how your business is doing with Dashboard & Analytics
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row pric-sale">
                            <div class="col-md-6">
                                <div class="row exp-pro">
                                    <div class="col-md-2 txt-right">
                                        <img src="assets/img/group.png" alt="image" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 pric-exp">
                                        <h2>
                                            Accountant access

                                        </h2>
                                        <p>
                                            Your accountant can manage your records at all times, making it easy to work together.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row exp-pro">
                                    <div class="col-md-2 txt-right">
                                        <img src="assets/img/backup.png" alt="image" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 pric-exp">
                                        <h2>
                                            Automatic backups
                                        </h2>
                                        <p>
                                            BMAC backs up your data every day, so your figures are always up-to-date.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pric-sale pric-pro">
                            <div class="col-md-6">
                                <div class="row exp-pro">
                                    <div class="col-md-2 txt-right">
                                        <img src="assets/img/employee.png" alt="image" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 pric-exp">
                                        <h2>
                                            Data security
                                        </h2>
                                        <p>
                                            Norton by Symantec Security (128-bit SSL encryption) ensures your data is safe.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row exp-pro">
                                    <div class="col-md-2 txt-right">
                                        <img src="assets/img/support.png" alt="image" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 pric-exp">
                                        <h2>
                                            Free unlimited support
                                        </h2>
                                        <p>
                                            If you need help, support is available with answers to your questions and information on running your business.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pric-sale pric-pro">
                            <div class="col-md-6">
                                <div class="row exp-pro">
                                    <div class="col-md-2 txt-right">
                                        <img src="assets/img/access.png" alt="image" class="img-responsive">
                                    </div>
                                    <div class="col-md-10 pric-exp">
                                        <h2>
                                            Access Control/ Audit Trail
                                        </h2>
                                        <p>
                                            Limit the work focus of the users added on BMAC, and track activities done on Your account
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                    </div>
                    <p class="p-mon">
                        <b>7-Day Money Back Guarantee:</b> Email us if you want to cancel for any reason. No strings attached
                    </p>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- block 2 ends here  -->