<!-- block 1 start here -->
<section>
    <div class="container-fluid lady-img">
        <!-- <nav class="navbar navbar-expand-md pay-dark navbar-dark white">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/bmac-logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="button-label">Menu</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                          </button>


                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav right-ft">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/account">BMAC Accounting</a>
                                <a class="dropdown-item" routerLink="/ims">BMAC IMS</a>
                                <a class="dropdown-item" routerLink="/payroll">BMAC HR Payroll</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/bmac/professional">Pro Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/secure/sign-in">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.onebmac.com/">Collaborative Edge</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 hero-robust">

                    <h2 class="mn-sf">
                        inventory
                    </h2>
                    <h2 class="soft-dx">
                        management software
                    </h2>
                    <p style="font-size: 16px;">
                        smart reporting, smart insights for <br>retailers, wholesalers and distributors
                    </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-hero">SIGN UP NOW</a>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 1 starts here -->

<!-- section for media query -->
<section>
    <div class="container-fluid im-back">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container white">
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/bmac-logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                                <span class="button-label">Menu</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                              </button>


                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav right-ft">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">products</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Bmac Accounting</a>
                                <a class="dropdown-item" href="#">Bmac IMS</a>
                                <a class="dropdown-item" href="#">HR Payroll</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing">pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/network">Pro Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://sme.onebmac.com/secure/sign-up">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://sme.onebmac.com/secure/sign-in">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12 hero-robust">

                    <h2 class="mn-sf">
                        inventory
                    </h2>
                    <h2 class="soft-dx">
                        management software
                    </h2>
                    <p style="font-size: 16px;">
                        smart reporting, smart insights for retailers, <br>wholesalers and distributors
                    </p>
                    <button class="btn btn-hero">SIGN UP NOW</button>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- section for media query -->
<section>
    <div class="container-fluid line-b1">
        <div class="container">
            <div class="row ease-b1">
                <div class="col-md-6 track-b1">
                    <h2 class="track-h2">
                        Friendly Inventory management for Retailers, Wholesalers and Distributors
                    </h2>
                    <p class="track-p">Take the busy work out of managing your stock, reduce manual errors, and automate intelligent reports that enable smart decisions in the cloud.</p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-detail">More...</a>
                </div>
                <div class="col-md-6 bmc-x2">
                    <img src="assets/img/ims-1.jpg" alt="image" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 1 ends here -->
<!-- block 2 starts here -->
<section>
    <div class="container-fluid line-b1">
        <div class="container">
            <div class="row ease-b1">
                <div class="col-md-6 bmc-x2">
                    <img src="assets/img/ims-5.jpg" alt="image" class="img-responsive">
                </div>
                <div class="col-md-6 track-b1">
                    <h2 class="track-h2">
                        Stop Inventory going missing
                    </h2>
                    <p class="track-p">Cut pilfering, stealing and tampering using the IMS. It automatically tracks your inventory levels across all channels. Also get automatically alerted of shortages, spikes in demand or errors - on time.</p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-detail">More...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 2 ends here -->
<!-- block 1 starts here -->
<section>
    <div class="container-fluid line-b1">
        <div class="container">
            <div class="row ease-b1">
                <div class="col-md-6 track-b1">
                    <h2 class="track-h2">
                        Update your inventory from anywhere
                    </h2>
                    <p class="track-p">Access and update your stock records from multiple locations, sites, offices, and warehouses with BMAC IMS Branch Manager feature. It gives you important oversight over your business at any point in time.</p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-detail">More...</a>
                </div>
                <div class="col-md-6 bmc-x2">
                    <img src="assets/img/ims-2.jpg" alt="image" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 1 ends here -->
<!-- block 2 starts here -->
<section>
    <div class="container-fluid line-b1">
        <div class="container">
            <div class="row ease-b1">
                <div class="col-md-6 bmc-x2">
                    <img src="assets/img/ims-4.jpg" alt="image" class="img-responsive">
                </div>
                <div class="col-md-6 track-b1">
                    <h2 class="track-h2">
                        Know your top selling product lines
                    </h2>
                    <p class="track-p">Know your bestselling products. Understand your profit margin, manage your pricing and know exactly when to restock. </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-detail">More...</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 2 ends here -->
<!-- block 2 starts here -->
<section>
    <div class="container-fluid line-b1">
        <div class="container">
            <div class="row ease-b1">
                <div class="col-md-6 track-b1">
                    <h2 class="track-h2">
                        Smart Reporting, Smart Insights
                    </h2>
                    <p class="track-p">Make better decisions with real-time inventory reporting. Generate Inventory Received, Item Issued, Inward List, Sales Item, Reorder Level and lots more. Stay informed on how your product is moving. </p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-detail">More...</a>
                </div>
                <div class="col-md-6 bmc-x2">
                    <img src="assets/img/ims-3.jpg" alt="image" class="img-responsive">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- block 2 ends here -->
