<!-- block 1 starts here -->
<div class="container-fluid pro-flat">
    <div class="">
        <div class="row">
            <div class="col-md-12 pro-b1">
                <img src="assets/img/pro-image.jpg" class="img-responsive" alt="img" style="max-width:100%">
            </div>
        </div>
    </div>
</div>

<div class="container pro-page">
    <div class="row network">
        <div class="col-md-12">
            <h2>BMAC Professional Network </h2>
            <p>
                Professional services such as Accounting and Bookkeeping are not a priority for most entrepreneurs. It's time consuming, boring and energy-sapping. Business owners would much rather be out there doing what they do best – providing excellent goods and
                services. Finance is more attractive due to the immediate or urgent importance to businesses – hence the BMAC Professionals' Network.
            </p>
            <button class="btn btn-pro">Register</button>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 virtual">
            <h2>The BMAC Professionals’ Network is a virtual network where;</h2>
            <ul class="ul-network">
                <li>Professionals meet businesses who need Professional Services</li>
                <li>Professionals can serve more clients anywhere, anytime</li>
                <li>Professionals can connect with other professionals</li>
                <li> Professionals can exchange ideas with other professionals</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="assets/img/background2.jpg" class="img-responsive" alt="img" style="max-width:100%">
        </div>
    </div>

</div>
<!-- block 1 ends here -->
<!-- block 2 starts here -->
<div class="container">
    <div class="row prof-b2">
        <div class="col-md-6 value">
            <img src="assets/img/glasses.png" class="img-responsive" alt="img">
            <h2>Vision</h2>
            <p>To deliver exceptional value (Profitability, Access to finance, structure and Dynamism) for the clients by leveraging on BMAC solutions which are Accounting, Inventory Management System (IMS), HR-Payroll.</p>
        </div>
        <div class="col-md-6 value">
            <img src="assets/img/rocket-ship.png" class="img-responsive" alt="img">
            <h2>Mission</h2>
            <p>To create a virtual network of Business Professionals who provide support to businesses up and down Nigeria using the BMAC Solutions in a spirit of transparency, integrity, accuracy, innovation and collaboration.</p>
        </div>
    </div>
</div>
<!-- block 2 ends here -->
<!-- block 3 starts here -->
<div class="container">
    <div class="pro-net">
        <h2>Objectives of the Professional Network</h2>
    </div>
    <div class="row obj">
        <div class="col-md-6">

            <h2>
                To Professionals</h2>
            <p>
                Empower Accountants Pros are easily connected to Businesses Create a pool of knowledge for businesses and professionals by virtue of cataloguing enquiries and knowledge-oriented interactions Increase ability to partner with other Accountants in other
                regions
            </p>
        </div>
        <div class="col-md-6">
            <img src="assets/img/background1.png" class="img-responsive" alt="img" style="max-width:75%">
        </div>
    </div>
    <div class="row obj">
        <div class="col-md-6">
            <img src="assets/img/background3.png" class="img-responsive" alt="img" style="max-width:75%">
        </div>
        <div class="col-md-6">

            <h2>To SMEs around Nigeria</h2>
            <p>
                Assembly Line philosophy: ability for one person to service a group of businesses at a reduced cost In every local, create a pool of Professionals that Businesses in those localities can contact and hire at affordable rates - anywhere they may be in the
                country
            </p>
        </div>
    </div>
</div>
<!-- block 3 ends here -->