<section>
    <div class="container-fluid boss-img">
        <!-- block 1 start here -->
        <!-- <nav class="navbar navbar-expand-md paydark navbar-dark white">
            <div class="container">
                <a class="navbar-brand" routerLink="index.html">
                    <img src="assets/img/bmac-logo.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="button-label">Menu</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
              </button>


                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav right-ft">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/account">BMAC Accounting</a>
                                <a class="dropdown-item" routerLink="/ims">BMAC IMS</a>
                                <a class="dropdown-item" routerLink="/payroll">BMAC HR Payroll</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/bmac/professional">Pro Network</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://onebmac.com/secure/sign-in">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://blog.onebmac.com/">Collaborative Edge</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 pay-soft">
                    <h2>HR Payroll Software</h2>
                    <p>Effectively organize and manage your employee - payroll online</p>
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-soft">More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 1 ends here -->
<!-- block 2 starts here -->
<section>
    <div class="container">
        <div class="row ineff-b1">
            <div class="col-md-12 ineff-b2">
                <h2 class="ineff-h2">
                    Take care of Numero Uno!
                </h2>

                <p class="ineff-p">
                    Your people are your Number One assets. Why not bring your HR management into the 21st century? Avoid inefficiencies of processing salaries and deductions manually, especially when you’ve got a high headcount. Effectively organise and manage your employee
                    payroll online.
                </p>
                <div class="ims">
                    <a href="https://sme.onebmac.com/secure/sign-up" class="btn btn-ims">More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 2 starts here -->
<!-- block 3 starts here -->
<section>
    <div class="container-fluid grey-b3">
        <div class="container">
            <div class="sr-col">
                <h2>
                    Features
                </h2>
                <p>
                    “By putting employees first, the customer effectively comes first by default, and in the end, the shareholders come first by default as well”.
                </p>
            </div>
            <div class="col-md-12 app-img">
                <img src="assets/img/hr-image.png" class="img-responsive" alt="img">
            </div>
            <div class="out-down">


                <!-- row -->
                <div class="row">
                    <div class="col-md-6 inner-b3">
                        <div class="row">
                            <div class="col-md-2 an-ft">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="col-md-10">
                                <h2>
                                    Employee Management
                                </h2>
                                <p>
                                    Manage employee profiles, employee activities and leave applications and notices
                                </p>
                            </div>

                        </div>
                    </div>

                    <!-- row -->
                    <div class="col-md-6 inner-b3">
                        <div class="row">
                            <div class="col-md-2 an-ft">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="col-md-10">
                                <h2>
                                    Organise your payroll online
                                </h2>
                                <p>
                                    Easily manage salary details, generate pay slips and make payments exactly when due.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <div class="row">
                    <div class="col-md-6 inner-b3">
                        <div class="row">
                            <div class="col-md-2 an-ft">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="col-md-10">
                                <h2>Deductions and Earnings reports</h2>
                                <p>
                                    Easily manage staff deductions and earnings through automated reports such as tax, health insurance, staff loans and pensions on monthly, quarterly, yearly basis.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="col-md-6 inner-b3">
                        <div class="row">
                            <div class="col-md-2 an-ft">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="col-md-10">
                                <h2>
                                    User Friendly Interface
                                </h2>
                                <p>
                                    Access an overview of your employees and their payroll at a glance with the BMAC Dashboard.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- block 3 ends here -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ims-sr1">
                <img src="assets/img/payment.png" alt="image" class="img-responsive" style="max-width: 100%">
                <h2>
                    Your Payroll in few clicks
                </h2>
                <p>Avoid spending endless number of hours calculating salaries, expenses, deductions and monthly tax preparations.

                    <!-- Automate your payroll processes, eliminate the probability of error in calculations and have more time to focus on other
                        critical task. -->

                </p>
            </div>
            <div class="col-md-4 ims-sr1">
                <img src="assets/img/payment.png" alt="image" class="img-responsive" style="max-width: 100%">
                <h2>Reduce manual efforts & errors</h2>
                <p>
                    Avoid spending endless number of hours calculating salaries, expenses, deductions and monthly tax preparations.

                    <!-- Automate your payroll processes, eliminate the probability of error in calculations and have more time to focus on other critical task. -->

                </p>
            </div>
            <div class="col-md-4 ims-sr1">
                <img src="assets/img/payment3.png" alt="image" class="img-responsive" style="max-width: 100%">
                <h2>Employee Portal</h2>
                <p>
                    Improve engagement by giving employees direct access to their profile, work information, pay records and benefits – all at the click of a button.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- block 4 starts here -->
<!--
<section>
    <div id="demo" class="carousel slide" data-ride="carousel">


        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/carousel.png" alt="image">
                <div class="carousel-caption">
                    <h2>
                        Testimonial
                    </h2>
                    <img src="assets/img/emmanuel.jpg" alt="Los Angeles">
                    <h3>
                        Emmanuel Iyanu
                    </h3>
                    <h4>
                        C.E.O Red Star
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel.png" alt="image">
                <div class="carousel-caption">
                    <h2>
                        Testimonial
                    </h2>
                    <img src="assets/img/emmanuel.jpg" alt="Los Angeles">
                    <h3>
                        Emmanuel Iyanu
                    </h3>
                    <h4>
                        C.E.O Red Star
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/carousel.png" alt="image">
                <div class="carousel-caption">
                    <h2>
                        Testimonial
                    </h2>
                    <img src="assets/img/emmanuel.jpg" alt="Los Angeles">
                    <h3>
                        Emmanuel Iyanu
                    </h3>
                    <h4>
                        C.E.O Red Star
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>-->
<!-- block 4 ends here -->
